
.lessons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.tab {
    margin-left: 2.5em
}

.logical-style li:nth-child(11) {
    text-decoration: line-through;
}

.logical-style li:nth-child(12) {
    text-decoration: underline;
}

.accordion{     
    width: 95%;
    
}

.accordion-child a:link  { 
    color: blue;
    font-weight: bolder;
}

.accordion-child > *{
    font-size: 14px;
}

.list-decimal{
    list-style: decimal;
}

video{
    width:550px;
    height: auto;
}


@media screen and (max-width: 720px) {
    
    pre{
        white-space: pre-wrap;
    }
    video {
        width: 100%;
        height: auto;
    }
}