
.lessons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;


    
    @media screen and (max-width: $tabletPortrait) 
	{        
        pre{
            white-space: pre-wrap;
        }
    }
}

.tab {
    margin-left: 2.5em
}

.logical-style li:nth-child(11) {
    text-decoration: line-through;
}

.logical-style li:nth-child(12) {
    text-decoration: underline;
}

.accordion{     
    width: 95%;    
}

.accordion-child a:link  { 
    color: blue;
    font-weight: bolder;
}

.list-decimal{
    list-style: decimal;
}

video{
    width:550px;
    height: auto;

    
    @media (max-width: $tabletPortrait) {
        
        width: 100%;
        height: auto;

        .ui-accordion-content{
            padding: 0 0.5em;
        }
    }
}


@media screen and (max-width: $tabletPortrait) 
{        
    .break-line{
        word-break: break-all;
    }
}
