

//Main color
$main-color:#4777b7;


// Media Query
$desktopMedium: 1024px;
$tabletLandscape: 900px;
$tabletPortrait: 750px;
$phoneLandscape: 500px;
$phonePortrait: 320px;


// Text Colors
$text-color-dark: black;
$text-color-light: white;

//Font size
$p-font-size:16px;


//Font type
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
